body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background-color: white;
    border-radius: 15px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #01030f;
    margin-bottom: 4px;
    border-radius: 10px;
}

button {
    background: #01030f;
    color: white;
    padding: 10px 20px;
    border: 1px solid #01030f;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.1s ease;
    margin-top: 2px;
}

button:active{
    transform: scale(0.95);
    background-color: #272729;
}

#delete-btn {
    background: rgb(255, 255, 255);
    color: #000000;
    border-radius: 10px;
    margin-left: 25px;
    
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #01030f;
}


